
/* Banner Stylings */
#banner {
  position: relative;
  text-align: center;
  max-width: 768px;
}
#banner_bg {
  opacity: 1;
  max-width: 768px;
}
#banner_name {
  position: absolute;
  text-align: center;
  top: 45%;
  /* left: 20%; */
  transform: translate(-50%, -90%);
  max-width: 768px;
  font-size: 32px;
  /* font-size: 5vw; */
  font-family: "Arial", cursive, sans-serif;
  color: white;
}
#banner_slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  max-width: 768px;
  font-size: 3.5vw;
  width: 80%;
  color: rgb(240, 238, 227);
}
#banner_icon {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -20%);
}
#banner_icon_img {
  max-width: 50px;
}

/* Top3 */
#top3{
  text-align: center;
  background-color:rgb(185, 182, 180);
}


/* Contact style */
#contact {
  text-align: center;
  background-color:rgb(26, 25, 24);
  height: 24rem;
}
#contact_title {
  /* position: absolute; */
  text-align: center;
  /* top: 45%; */
  /* left: 20%; */
  /* transform: translate(-50%, -90%); */
  max-width: 768px;
  font-size: 32px;
  height: 3rem;
  /* font-size: 5vw; */
  font-family: "Arial", cursive, sans-serif;
  color: white;
}
